.wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 300px 1fr;
    height: 100vh;

}

.header {
    grid-area: header;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.sidebar {
    grid-area: sidebar;
    background-color: azure;
    border-right: 1px solid #dee2e6;
    padding: 0px;
    height: calc(100vh - 50px);
    /* Ajuste para compensar a altura do header */
    overflow-y: auto;
}


.content {
    grid-area: content;
    padding: 20px;
    overflow-y: auto;
    margin-top: 50px;
    /* adjust this according to your header height */
}

.inputForm {
    border: none;
    font-family: Space Mono;
    font-size: .8em;
    color: #000;
    max-width: 25%;
}

.inputForm:hover {
    border: 1px solid black;
}

#inputFormTitle {
    border: 0px solid black;
    font-family: Space Mono;
    font-size: 1.4em;
    letter-spacing: 2px;
    color: #000;
    padding-left: 2%;
    padding-right: 2%;
}

.workspaceLink {
    text-decoration: none;
    color: #000;
    font-family: Abril Fatface;
    letter-spacing: 1px;
    font-size: 1.5em;
}