body {
  font-family: 'Space Mono', monospace;
}
h1 {
  font-family: 'Abril Fatface', serif;
}

.newFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid #ccc;
  padding: 20px;
  min-height: 100vh;
}

.inputfFormName {
  margin-left: 5px !important;
  margin-top: 20px !important;
  width: 160px !important;
  height: 45px !important;
  align-self: flex-start;
  font-family: 'Space Mono', monospace;
}
.addQuestionBtn {
  width: 180px !important;
  height: 60px;
  margin: 8px;
  border-radius: 14px;
  background-color: rgb(204, 200, 200);
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
}

.newFormContainer p {
  position: absolute;
  top: 0px;
  left: 4px;
  margin: 6px;
  font-family: 'Space Mono', monospace;
}

.newFormContainer input[type='text'] {
  width: 500px;
  height: 90px;
  margin: 8px;
  border-radius: 14px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}
