.saveButton {
  width: 150px;
  height: 40px;
  margin: 8px;
  border-radius: 14px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  background-color: #a5a6a7;
  color: white;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footerNewForm {
  height: 55px;
}
/*<div style={{ display: 'flex', flexDirection: 'column', minHeight: '100vh' }}>
<div style={{ marginBottom: '50px' }}>*/
