body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.NewForm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 100%;
  width: 100%;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.questionContainer {
  margin-top: 10px;
}

.deleteBtn {
  margin: 10px;
  padding: 5px;
  background-color: #df7e6d;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addQuestion {
  margin: 10px;
  padding: 5px;
  background-color: #a5a6a7;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addQuestion:hover {
  background-color: #6a6b6d;
}

.submit {
  background-color: #944da2;
  margin: 10px;
  padding: 5px;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}

.submit:hover {
  background-color: #7d1f7b;
}

.fixedHeader {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  background-color: #fff !important;
  padding: 10px !important;
  z-index: 1000 !important;
  border-bottom: 1px solid #ccc;
}

.parentContainer {
  margin: 200px 0;
  padding: 20px;
  width: calc(100% - 40px);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: auto;
}

.formContainer {
  border: 1px solid #ccc !important;
  padding: 20px !important;
  border-radius: 8px !important;
  background-color: #f9f9f9 !important;
  max-height: 100%;
  overflow-y: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workspaceText {
  font-size: 16px;
  color: #777;
  margin-top: 5px;
  margin-left: 10px;
  display: block;
}
.inputFormName {
  margin-top: 0px !important;
  margin-left: 30px !important;
  font-size: 20px;
  color: #777;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
