  /* .sidebar {
    width: 20%;
    background-color: azure;
    height: 100vh;
    position: fixed;
    display: flex;
    overflow-y: auto;
    border-radius: 20px;
}
*/
  .sidebar {
      grid-row: 2 / -1;
      background-color: azure;
      border-right: 1px solid #dee2e6;
      padding: 20px;
      height: calc(100vh - 50px);
      overflow-y: auto;
  }