@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
    letter-spacing: -0.04em;
}

h1,
h2,
h3 {
    font-family: 'Abril Fatface', serif;
}

#root {
    @apply h-full;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}